﻿.header {
    margin-left: 1vw !important;
    margin-right: 1vw !important;
}

.logo-text {
    font-size:xx-large !important;
    font-weight:bold;
}
.dot {
    font-size: xx-large !important;
    font-weight: bold;
    color: #86BC25 !important;
    margin-left:-1vw
}

