﻿@model DSchedule.Contracts.Models.ReportsModel
@using DSchedule.Contracts.Models
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Generate Reports</h2>
<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @*<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Common.js")"></script>*@
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script>
        $(function () {

            $("#tblReports").dataTable();

            $(".datetimepicker1").datepicker();
            $(".datetimepicker2").datepicker();

            $("#datetimepicker1").click(function () {
                $(".datetimepicker1").datepicker('show');
            });
            $("#datetimepicker2").click(function () {
                $(".datetimepicker2").datepicker('show');
            });

        });
        function Validate() {
            if ($("#cmbNode").val() == 0 && $("#cmbEnvironment").val() == 0 && $("#cmbUproc").val() == 0 && $("#cmbSession").val() == 0 && $("#dtStartDate").val() == "" && $("#dtEndDate").val() == "" && $("#cmbStatus").val() == 0) {
                $("#errMessage").html("Please select atleast one search critera.<br><br>");
                return false;
            }
            else if ($("#dtStartDate").val() != "" && $("#dtEndDate").val() == "") {
                $("#errMessage").html("Please select end date<br>");
                return false;
            }
            else if ($("#dtStartDate").val() == "" && $("#dtEndDate").val() != "") {
                $("#errMessage").html("Please select start date<br>");
                return false;
            }
            else {
                $("#errMessage").html("");
                return true;
            }

        }
    </script>

</head>
<body>
    @*<div class="container-fluid" id="ReportsDetails" style="height:400px">
             @using DSchedule.Contracts.Models
             @using GridMvc.Html
             @Html.Grid((List<DSchedule.Contracts.Models.ReportData>)Model.ReportsList).Named("reportsGrid").Columns(columns =>
        {
            columns.Add(c => c.ReportID).Titled("Report ID");
            columns.Add(c => c.TemplateName).Titled("Template");
            columns.Add(c => c.Node).Titled("Node");
            columns.Add(c => c.Environment).Titled("Environment");
            columns.Add(c => c.CreatedBy).Titled("Created By");
            columns.Add(c => c.CreatedDate).Titled("Created Date");
        })
         </div>*@
    <div class="container-fluid">
        @using (Html.BeginForm("ReportsView", "Reports", Model, FormMethod.Post))
        {
            <div class="form-horizontal well">
                <span class="text-danger" id="errMessage">

                </span>
                <div class="form-group">
                    <div class="col-md-1">
                        @Html.Label("Template")
                    </div>
                    <div class="col-md-2">
                        @Html.DropDownListFor(x => x.TemplateID, new SelectList(ViewBag.Templates, "RefId", "RefDescription"), new { @id = "cmbTemplates", @class = "form-control", @disabled = "disabled" })
                    </div>
                    <div class="col-md-1">
                        @Html.Label("Node")
                    </div>
                    <div class="col-md-2">
                        @Html.DropDownListFor(x => x.NodeId, new SelectList(ViewBag.Nodes, "RefId", "RefDescription"), new { @id = "cmbNode", @class = "form-control" })
                        @Html.ValidationMessageFor(modelItem => @Model.NodeId)
                    </div>
                    <div class="col-md-1">
                        @Html.Label("Environment")
                    </div>
                    <div class="col-md-2">
                        @Html.DropDownListFor(x => x.EnvironmentId, new SelectList(ViewBag.Environments, "RefId", "RefDescription"), new { @id = "cmbEnvironment", @class = "form-control" })
                        @Html.ValidationMessageFor(modelItem => @Model.EnvironmentId)
                    </div>
                    <div class="col-md-1">
                        @Html.Label("Session")
                    </div>
                    <div class="col-md-2">
                        @Html.DropDownListFor(x => x.SessionId, new SelectList(ViewBag.Sessions, "RefId", "RefDescription"), new { @id = "cmbSession", @class = "form-control" })
                        @Html.ValidationMessageFor(modelItem => @Model.SessionId)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        @Html.Label("Uproc")
                    </div>
                    <div class="col-md-2">
                        @Html.DropDownListFor(x => x.UprocId, new SelectList(ViewBag.Uprocs, "RefId", "RefDescription"), new { @id = "cmbUproc", @class = "form-control" })
                        @Html.ValidationMessageFor(modelItem => @Model.UprocId)
                    </div>
                    <div class="col-md-1">
                        @Html.Label("Start Date")
                    </div>
                    <div class="col-md-2">
                        <div class='input-group date'>
                            @Html.TextBoxFor(x=>x.StartDate, new { id= "dtStartDate",@class = "form-control datetimepicker1" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar" id="datetimepicker1"></span>
                            </span>
                        </div>

                    </div>
                    <div class="col-md-1">
                        @Html.Label("End Date")
                    </div>
                    <div class="col-md-2">
                        <div class='input-group date'>
                            @Html.TextBoxFor(x => x.EndDate, new { id = "dtEndDate", @class = "form-control datetimepicker2" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar" id="datetimepicker2"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-1">
                        @Html.Label("Status")
                    </div>
                    <div class="col-md-2">
                        @Html.DropDownListFor(x => x.StatusId, new SelectList(ViewBag.Status, "RefId", "RefDescription"), new { @id = "cmbStatus", @class = "form-control" })
                    </div>

                </div>
                <br />
                <br />
                <div class="form-group">
                    <div class="col-md-2">
                        <input type="button" value="New Report" name="btnNewReport" class="btn btn-primary" />
                    </div>
                    <div class="col-md-2">
                        <input name="btnGenerate" type="submit" value="Generate" class="btn btn-primary" onclick="return Validate()" />
                    </div>
                    <div class="col-md-2">
                        <input id="btnCancel" class="btn btn-primary" type="button" value="Cancel" name="btnCancel" onclick="RedirectToHome()" />
                        @Html.Hidden("RedirectTo", Url.Action("ReportsView", "Reports"))
                    </div>
                </div>

            </div>


            <table class="table table-sm table-bordered table-striped pre-scrollable" oncontextmenu="return false" id="tblReports">
                <thead class="thead-default">
                    @if (Model.ReportsList.Any())
                    {
                        <tr>
                            <th class="hide">Job Id</th>
                            <th class="hide">Node Id</th>
                            <th class="hide">Environment Id</th>
                            <th class="hide">Session Id</th>
                            <th class="hide">Uproc Id</th>
                            <th>Node</th>
                            <th>Environment</th>
                            <th>Session</th>
                            <th>Uproc</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Elapsed Time</th>
                            <th>Status</th>
                        </tr>
                    }
                </thead>
                <tbody>
                    @if (Model.ReportsList != null && Model.ReportsList.Count > 0)
                    {
                        foreach (var row in Model.ReportsList)
                        {
                            <tr>
                                <td class="JobRuleId hide">JobRuleId</td>
                                <td class="NodeId hide">NodeId</td>
                                <td class="EnvironmentId hide">NodeId</td>
                                <td class="SessionId hide">NodeId</td>
                                <td class="UprocId hide">NodeId</td>
                                <td>@row.NodeName</td>
                                <td>@row.EnvironmentName</td>
                                <td>@row.SessionName</td>
                                <td>@row.UprocName</td>
                                <td>@row.StartTime</td>
                                <td>@row.EndTime</td>
                                <td>@row.ElapsedTime</td>
                                <td>@row.Status</td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
            <div class="form-group">
                <div class="col-md-2">
                    @if (Model.ReportsList.Any())
                    {
                        <input type="submit" value="Export To Excel" name="btnExport" class="btn btn-primary" />
                    }
                   
                </div>
            </div>


        }
    </div>

</body>
</html>
